.wrapper-content{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0.5rem;
    background: #F4F5F7;
  }
  
  .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .dashboard-wrapper{
    display: flex;
    flex:1;
    height: inherit;
    padding:2px 6px 14px 6px;

  }
  .dashboard-tasklist_wrapper{
    margin-right: 1rem;
    flex: 0 0 auto;
    width: 25%;
  }
  .dashboard-business_wrapper{
    flex: 1 0 0%;
  }